

// Media
$full-hd: 1920px;
$desktop-size: 1280px;
$tablet-size: 768px;
$mobile-size: 320px;

//Colors
$background-color: white;
$dark-gray: #333333;
$red: #EB5757;

//Sizes
$header-height: 56px;


// Font
$preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
