

// Media
$full-hd: 1920px;
$desktop-size: 1280px;
$tablet-size: 768px;
$mobile-size: 320px;

//Colors
$primary-color: pink;

//Sizes
$header-height: 48px;


// Font
$preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
